*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

section {
    font-size: 16px;
}

.bigsize {
    font-size: 100px;
    color: rgb(112, 112, 112);
}

.text-align-center {
    text-align: center;
}

select {
    word-wrap: normal;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select {
    width: 100%;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
}

/* button.btn,
select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
} */

footer {
    margin-top: 150px;
}

.list_products>.row {
    max-width: 90%;

}

.list_item {
    justify-content: center;
    margin-top: 40px;
    justify-content: space-between;
}

.item {
    width: 100%;
    background-color: rgb(173, 167, 167);
    height: 700px;
    border-radius: 2%;
}

.item .img,
.item .name {
    text-align: center;
}

.name>h2 {
    font-weight: bold;
    padding-top: 20px;
    color: #000;
}

h3 {
    font-weight: 600;
    padding-left: 20px;
    color: #000;
    font-size: 22px;
}

h3>span {
    font-size: 20px;
    font-weight: 400;
}

.price {
    padding-top: 20px;
    color: #000;
    font-size: 24px;
}

img {
    margin-top: 20px;
    width: 90%;
    height: 200px;
}